*{
    font-style: initial;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #0a3d62;
  color: white;
  padding: 25px;
  text-align: center;
}

section {
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
.whatsapp{
    display:inline-block;
    background-color: #25d366;
    color:#fff;
    padding:10px 20px;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
}
.logo{
    font-size: 32px;
    letter-spacing:1px;
}